.maintemperature {
	display: grid;
	justify-items: center;
	position: relative;
}

.tempContainer {
	position: relative;
	width: 100%;
	display: grid;
	justify-content: center;
	max-width: 500px;
	container-type: inline-size;
}

.location {
	width: 100%;
	font-size: 2rem;
	font-weight: 600;
}

.image {
	grid-column: 1;
	grid-row: 1;
	z-index: 1;
	transform: translateX(-6%);
}

.temp {
	grid-column: 1;
	grid-row: 1;
	font-size: clamp(10rem, 50vw, 14rem);
	line-height: 40cqi;
	transform: translateY(32cqi);
	font-weight: 700;
	align-self: center;
	justify-self: center;
	color: var(--dark-blue);
	leading-trim: both;
	text-edge: cap;
	letter-spacing: -0.05em;
}

.condition {
	font-size: 2rem;
	font-weight: 600;
	color: var(--dark-blue);
}

.hilow {
	font-size: 2rem;
	color: var(--dark-blue);
	font-weight: 600;
}
