/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
	--dark-blue: oklch(37.53% 0.044 226.2);
	--light-blue: oklch(82.33% 0.106 205.25);
	--blue: oklch(69.77% 0.113 206.92);
}

@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Rubik';
	src: url('/fonts/Rubik-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	height: 100%;
	font-family: 'Rubik', sans-serif;
}

body {
	padding: 0;
	line-height: inherit;
	height: 100%;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--light-blue),
		var(--blue)
	);
}

.app-name {
	font-size: 2.5rem;
	font-weight: 500;
}

.search {
	display: grid;
	position: relative;
}

#search {
	height: 2.5rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.dropdown {
	position: absolute;
	background: #f1f5f9;
	z-index: 10;
	top: 3rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
}
